:root {
  --text-color: #09001a;
  --bg-color2: rgb(231, 219, 240);
  --bg-color: rgb(252, 231, 204);
  --light-bg: #09001a;
  --theme-color: #00ccff;
  --box-shadow: 0 0 0.2rem 2px #12f7ff;
  --neon-shadow: 0 0 10px #00f2ff, 0 0 30px #00ccff, 0 0 40px #00ccff,
    0 0 70px #00ccff, 0 0 150px #00ccff;
  --light-off: rgb(32, 92, 80);
  --box-shadow: none;
  --neon-shadow: none;
}
* {
  color: unset;
  /* text-shadow: 0 0 1px #000; */
}
header a {
  color: var(--bg-color2);
}

.fiverr {
  filter: invert(0);
}
.danbo {
  box-shadow: 1px solid var(--light-bg);
  filter: invert();
}

.portfolio .card-box .card {
  color: #fff;
}

footer {
  background-color: var(--light-off);
  color: #fff;
}

.home .social .btn:hover i {
  filter: invert(1);
}

.home .social .btn:hover .danbo {
  filter: invert(0);
}

.about {
  background-blend-mode: screen;
  background: url() #eefeff;
}

@keyframes glow {
  0% {
    background: var(--light-off);
    box-shadow: none;
  }
  100% {
    background: var(--theme-color);
    box-shadow: 0 0 1px 1px #0001;
    box-shadow: none;
  }
}

@media (max-width: 820px) {
  header .navlist {
    background: rgba(8, 1, 33, 0.897);
  }

  header .button i {
    color: var(--bg-color);
  }
}
